<div class="container ">
  <div class="row center sign-up-form">
    <div class="col s12 m12 l12">
      <div class="card-panel ">
            <h3 class="center-align">Sign Up</h3>

        <div class="row">
        <%= form_with(model: @student, class: "col s12") do |f| %>
          
          <div class="row">
            <div class="input-field col-12">
              <%= f.label :name %>
              <%= f.text_field :name %>
            </div>
          </div>
        
          <div class="row">
            <div class="input-field col-12">
              <%= f.label :email %>
              <%= f.text_field :email %>
            </div>
          </div>

          <div class="row">
            <div class="input-field col-12">
              <%= f.submit "Submit", class: "bbtn orange waves-effect waves-light"%>
            </div>
          </div>

        <% end %>
      </div>
      </div>
    </div>
  </div>
</div>
